/*-----RESET-----*/
/*-----recet.css from
http://developer.yahoo.com/yui/reset/#code -----*/
*, html, body, div, dl,dt dd, ul,ol, li, h1, h2, h3, h4,
h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
fieldset, img { border: 0; }
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
table {
	border-collapse: collapse;
	brder-spacing: 0;
}

caption, th { text-align: left; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; }
q:before,q:after {
	content:'';
}
strong { font-weight: bold; }
em { font-style: italic; }
a { text-decoration: none; }
a img { border: none; }
body { font-size: 1em; }


/*-----CLEARFIX-----*/
/*MODERN BROWSER*/
.cf:before, .cf:after {
	content: "";
	display: table;
}
.cf:after { clear: both; }
/*FOR IE BROWSERS*/
.cf { zoom: 1; }


/*-----TYPOGRAPHY-----*/
body {
	font-family: 'Droid Sans', sans-serif;
}
p, .button, ul#nav li ul, form#search-form input[type="text"], ul#tabs { font-size: 0.75em;/*12/16*/ }
h1 { font-size: 1.125em;/*18/16*/ }
p { margin-bottom: 1.666em; /*20/12*/}


/*-----GENERAL-----*/
.round {
	border-radius: 0.3125em;/*5/16*/
	-moz-border-radius: 0.3125em;
	-webkit-border-radius: 0.3125em;
}
.text-upper {
	text-transform: uppercase;
}
.fl { float: left; }
.fr { float: right; }


/*-----BUTTONS-----*/
.button {
	padding: 0.833em;/*10/12*/
	display: inline-block;
	background-repeat: no-repeat;
}
.image-left {
	background-position: 0.833em center;
	padding-left: 3em;/*36/12*/
}
.image-right {
	background-position: right center;
	padding-right: 3em;/*36/12*/
}


/*-----COLORS-----*/
.dark {
	background-color: #3f4551;
	color: #FFFFFF;
}
.dark:hover {
	background-color: #5d6677;
}
a { color: #2069b4; }
a:hover { color: #2a2e36; }
p a { border-bottom: 1px dotted #2069b4; }
p a:hover { border-bottom: 1px dotted #2a2e36; }
.blue {
	background-color: #2069B4;
	color: #FFFFFF;
}
.blue:hover {
	background-color: #5081B3;
	color: #FFFFFF;
}


/*-----GENERAL-----*/
.round {
	border-radius: 0.3125em;/*5/16*/
	-moz-border-radius: 0.3125em;
	-webkit-border-radius: 0.3125em;
}
.text-upper {
	text-transform: uppercase;
}
.fl { float: left; }
.fr { float: right; }


/*-----TOP BAR & HEADER-----*/
div#top-bar {
	background-color: #2a2e36;
	padding: 0.625em 0;/*10/16*/
}
div#header {
	padding: 1.25em 0; /*20/16*/
}

div#header-with-tabs {
	padding: 1.25em 0 0 0; /*20/16*/
}
a#company-logo-small img { height: 30px; }


/*------- TABS -------*/



/*------- MENU --------*/
ul#nav { list-style-type: none; }
ul#nav > li {
	float: left;
	position: relative;
	margin-right: 0.3125em; /*5/16*/
}
ul#nav li:hover ul { left: 0; }
ul#nav li:hover a {
	background-color: #5d6677;
	color: white;
}
ul#nav li.v-sap {
	border-right: 1px solid #3a404b;
	margin-right: 0.625em; /* 10/16 */
	padding-right: 0.625em;/* 10/16 */
}
	ul#nav li ul {
		list-style-type: none;
		position: absolute;
		margin-top: -2px;
		z-index: 999;
		left: -9999px;
	}
	ul#nav li ul li a {
		color: white;
		background: #5d6677 url('../images/menu-item-bullet.png') no-repeat right center;
		padding: 0.8333em 0.8333em 0.8333em 3em; /* 10/12 36/12*/
		display: block;
		width: 100%;
		border-top: 1px solid #6a7282;
	}
	ul#nav li ul li a:hover { background-color: #7a8497; }
	ul#nav li ul li:last-child a { 
		border-bottom-right-radius: 0.3125em; /*5/16*/
		border-bottom-left-radius: 0.3125em; /*5/16*/
		-moz-border-bottom-right-radius: 0.3125em; /*5/16*/
		-moz-border-bottom-left-radius: 0.3125em; /*5/16*/
		-webkit-border-bottom-right-radius: 0.3125em; /*5/16*/
		-webkit-border-bottom-left-radius: 0.3125em; /*5/16*/
	}



/*-----CONTENT-----*/
div#content {
	background: #fbfbfc url('../images/artwork-bg.png') repeat-x left bottom;
	padding: 1.875em;/*30/16*/
	border: 1px solid #eeefef;
}


/*-----FORMS-----*/
form#login-form{
	width: 18.75em;
	margin: 0 auto;
}
form label {
	display: block;
	text-transform: uppercase;
	color: #2a2e36;
	margin-bottom: 0.416em;/*5/12*/
}
form input[type="text"], form input[type="password"] {
	border: 1px solid #d9dbdd;
	padding: 1.25em 0.833em;/*15/12 10/12*/
	outline: none;
}
form input[type="text"]:hover, form input[type="password"]:hover,
form input[type="text"]:focus, form input[type="password"]:focus {
	border: 1px solid #bdbdbe;
}
form input[type="submit"] {
	border: none;
	cursor: pointer;
}

form#search-form input[type="text"] {
	border: none;
	padding: 0.833em 3em 0.833em 0.833em;/*10/12 36/16*/
}
::-webkit-input-placeholder { color: #858d9c; }
:-moz-placeholder { color: #858d9c; }




/*-----WIDTHS-----*/
.full-width { width: 92%; }
.page-full-width { padding: 0 1.875em;/*30/16*/ }


/*-----FOOTER-----*/
div#footer {
	padding: 1.875em;/*30/16*/
	text-align: center;
}
div#footer p { color: #2a2e36; }